name: Build and Deploy Python App to Azure Web App

# Trigger on pushes to main and also allow manual run
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: saksham     # Change to your Web App name in Azure
  PYTHON_VERSION: '3.11'                     # Change to the Python version you use
  AZURE_WEBAPP_PACKAGE_PATH: '.'            # Path to the folder you want to deploy (relative to repo root)
  STARTUP_COMMAND: 'startup.txt'                        # Optional: e.g. "gunicorn app:app" or "python manage.py runserver"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/requirements.txt

      - name: (Optional) Run tests
        run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt
         pip install pytest
         pytest

 

          
      

      - name: Archive the app for deployment
        run: |
          zip -r app.zip . -x "*.git*" ".github/*"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write 
      
    environment:
      name: 'Production'
    

    steps:
      - name: Download artifact from build
        uses: actions/download-artifact@v4
        with:
          name: python-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
         creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: ./app.zip
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          # If you need to run a custom startup command:
          startup-command: ${{ env.STARTUP_COMMAND }}

      - name: Azure logout
        run: |
          az logout
